*, *:before, *:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  background: #f5f5f5;
}

h1 {
  display: none;
}

.container-width-limit {
  width: 100%;
  max-width: 1328px;
  padding: 0 40px;
  margin: 0 auto;
}

.mainHeader--links__active {
  text-decoration: none;
  color: #fff;
  border-bottom: 4px solid #fff;
}

.section-heading {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin-bottom: 64px;
}

.section-heading h3 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #636363;
  margin-bottom: 16px;
  text-transform: uppercase;
  text-indent: 0.8rem;
}

.slider-transition {
  -webkit-transition: 500ms -webkit-transform ease-out;
  transition: 500ms -webkit-transform ease-out;
  transition: 500ms transform ease-out;
  transition: 500ms transform ease-out, 500ms -webkit-transform ease-out;
}

.productPage--banner {
  position: relative;
  width: 100%;
  height: 488px;
  background-image: url("../img/page-banner.jpg");
  background-size: cover;
  background-position: center center;
}

.productPage--banner .productPage--heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
  z-index: 2;
}

.productPage--banner .productPage--heading .productPage--heading__container {
  padding-bottom: 72px;
  padding-left: 24px;
}

.productPage--banner .productPage--heading .productPage--heading__container h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 5.6rem;
  color: #fff;
  padding-bottom: 8px;
  margin: 0;
}

.productPage--banner .productPage--heading .productPage--heading__container .productPage--heading__breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: #fff;
  text-transform: uppercase;
}

.productPage--banner .productPage--heading .productPage--heading__container .productPage--heading__breadcrumbs img:nth-child(1) {
  margin-right: 8px;
}

.productPage--banner .productPage--heading .productPage--heading__container .productPage--heading__breadcrumbs img:nth-child(2) {
  margin: 0px 16px;
}

.productPage--banner .productPage--heading .productPage--heading__container .productPage--heading__breadcrumbs span {
  font-weight: 700;
}

.productPage--banner .productPage--banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 130, 214, 0.85);
}

@supports (background-blend-mode: multiply) {
  .productPage--banner__overlay {
    display: none;
  }
  .productPage--banner {
    background-color: #0082d6;
    background-blend-mode: multiply;
  }
}

.productPage--card__pivot {
  width: 100%;
  position: relative;
}

.productPage--card__pivot .productPage--card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -152px;
  width: 100%;
  height: 488px;
}

.productPage--card__leftColumn {
  width: 50%;
  height: 100%;
  padding: 80px;
  background: #fff;
}

.productPage--card__leftColumn .productPage--card--leftColumn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

.productPage--card__leftColumn .productPage--card--leftColumn__container .card--leftColumn--counter {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  color: #dbdbdb;
  text-align: right;
}

.productPage--card__leftColumn .productPage--card--leftColumn__container .card--leftColumn--content img {
  padding-bottom: 40px;
  margin: 0;
}

.productPage--card__leftColumn .productPage--card--leftColumn__container .card--leftColumn--content h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  color: #414141;
  padding-bottom: 16px;
  margin: 0;
}

.productPage--card__leftColumn .productPage--card--leftColumn__container .card--leftColumn--content p {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 2.2rem;
  color: #878787;
  margin: 0;
}

.productPage--card__rightColumn {
  width: 50%;
  height: 100%;
  background-image: url("../img/page-banner.jpg");
  background-size: cover;
  background-position: center, center;
}

.productPage__content {
  padding-top: 456px;
}

.productPage--content__container h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: #414141;
  margin: 0;
  padding-bottom: 24px;
}

.productPage--content__container p {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #7a7a7a;
  line-height: 3.4rem;
  margin: 0;
}

.productPage--content__formLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 64px;
}

.productPage--content__formLink img {
  padding-right: 16px;
}

.productPage--content__formLink h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: #0082d6;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
}

.productPage--relatedTopics {
  padding-top: 128px;
  padding-bottom: 240px;
}

.productPage--relatedTopics .productPage--relatedTopics__cards {
  width: 100%;
}

.relatedTopics--cards__container {
  padding-left: 0;
  padding-right: 0;
}

.relatedTopics--cards__container .relatedTopics--cards__wrapper {
  margin: 5px;
  overflow: auto;
  background: #fff;
}

.relatedTopics--cards__container .relatedTopics--cards__wrapper .relatedTopics--cards__thumb {
  width: 100%;
  height: 152px;
  background: #c7c7c7;
  overflow: hidden;
}

.relatedTopics--cards__container .relatedTopics--cards__wrapper .relatedTopics--cards__thumb img {
  width: 100%;
  height: auto;
}

.relatedTopics--cards__container .relatedTopics--cards__wrapper .relatedTopics--cards__content {
  padding: 32px;
  background: #fff;
}

.relatedTopics--cards__container .relatedTopics--cards__wrapper .relatedTopics--cards__content .relatedTopics--cards--content_container h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #0082d6;
  line-height: 3.0rem;
  padding-bottom: 8px;
  margin: 0;
}

.relatedTopics--cards__container .relatedTopics--cards__wrapper .relatedTopics--cards__content .relatedTopics--cards--content_container p {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: #848484;
  line-height: 2.6rem;
  margin: 0;
}

#headerPlaceholder {
  width: 100%;
  height: 88px;
}

#headerPlaceholder div:nth-child(1) {
  width: 50%;
  height: 88px;
  float: left;
  background: #fff;
}

#headerPlaceholder div:nth-child(2) {
  width: 50%;
  height: 88px;
  float: left;
  background: #022379;
}

#mainHeader {
  position: absolute;
  top: 0px;
  width: 100%;
}

.mainHeader__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.mainHeader__container .mainHeader__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  width: 20%;
  height: 88px;
  padding-right: 16px;
  background: #fff;
}

.mainHeader__container .mainHeader__logo img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.mainHeader__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 88px;
  background: #022379;
}

.mainHeader--navigation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainHeader--navigation__container .mainHeader__links ul {
  margin-bottom: 0;
  margin-right: 24px;
}

.mainHeader--navigation__container .mainHeader__links ul li {
  display: inline-block;
  padding: 30px 20px;
}

.mainHeader--navigation__container .mainHeader__links ul li a {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;
  padding: 30px 0px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.mainHeader--navigation__container .mainHeader__links ul li a:hover {
  text-decoration: none;
  color: #fff;
  border-bottom: 4px solid #fff;
}

.mainHeader--navigation__container .mainHeader__links ul li ul {
  position: absolute;
  top: 88px;
  display: hidden;
  visibility: hidden;
  opacity: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 10;
  min-width: 250px;
  -webkit-transition: 250ms opacity ease-out;
  transition: 250ms opacity ease-out;
}

.mainHeader--navigation__container .mainHeader__links ul li ul li {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #000;
  display: block;
  width: 100%;
  font-weight: 600;
  margin: 0;
  padding: 0px;
}

.mainHeader--navigation__container .mainHeader__links ul li ul li a {
  display: block;
  font-weight: 600;
  text-decoration: none;
  text-transform: none;
  color: #414141;
  padding: 15px 24px;
  -webkit-transition: 200ms -webkit-transform ease-out;
  transition: 200ms -webkit-transform ease-out;
  transition: 200ms transform ease-out;
  transition: 200ms transform ease-out, 200ms -webkit-transform ease-out;
}

.mainHeader--navigation__container .mainHeader__links ul li ul li a:hover {
  text-decoration: none;
  color: #fff;
  border-bottom: 0px;
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

.mainHeader--navigation__container .mainHeader__links ul li ul li:hover {
  background: #0082d6;
}

.mainHeader--navigation__container .mainHeader__links ul li:hover > ul, .mainHeader--navigation__container .mainHeader__links ul li ul li ul:hover {
  display: block;
  visibility: visible;
  opacity: 1;
}

.mainHeader--navigation__container .mainHeader__links ul li:hover > a {
  border-bottom: 4px solid #fff;
}

.mainHeader--navigation__container .mainHeader__search {
  padding: 8px 0px;
  padding-left: 32px;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
}

.mainHeader--navigation__container .mainHeader__search img {
  width: 32px;
  height: 32px;
}

.carouselBanner {
  position: relative;
  width: 100%;
  height: calc(100vh - 88px);
  min-height: 608px;
}

.carouselBanner .carouselBanner__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  overflow: hidden;
}

.carouselBanner--content__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.carouselBanner--content__slider .carouselBanner--slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.carouselBanner--content__slider .carouselBanner--slider__item .carouselBanner--item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.carouselBanner--content__slider .carouselBanner--slider__item .carouselBanner--item__body .carouselBanner--item--body__container h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 5.6rem;
  color: #fff;
  max-width: 640px;
  text-transform: uppercase;
  padding-bottom: 8px;
}

.carouselBanner--content__slider .carouselBanner--slider__item .carouselBanner--item__body .carouselBanner--item--body__container h2 span {
  font-size: 2.4rem;
}

.carouselBanner--content__slider .carouselBanner--slider__item .carouselBanner--item__body .carouselBanner--item--body__container p, .carouselBanner--content__slider .carouselBanner--slider__item .carouselBanner--item__body .carouselBanner--item--body__container li {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #fff;
  max-width: 612px;
  line-height: 3.2rem;
}

.carouselBanner--content__slider .carouselBanner--slider__item .carouselBanner--item__body .carouselBanner--item--body__container p span, .carouselBanner--content__slider .carouselBanner--slider__item .carouselBanner--item__body .carouselBanner--item--body__container li span {
  font-weight: 700;
}

.carouselBanner--content__slider .carouselBanner--slider__item .carouselBanner--item__body .carouselBanner--item--body__container ul {
  list-style-type: square;
}

.carouselBanner--content__slider .carouselBanner--slider__item .carouselBanner--item__body .carouselBanner--item--body__container ul li {
  margin-left: 56px;
}

.carouselBanner--content__slider .carouselBanner--slider__item .carouselBanner--item__body .carouselBanner--item--body__container a {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;
  display: inline-block;
  padding: 24px 40px;
  margin-top: 32px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 8px;
  border: 0px solid #fff;
  background: #0082d6;
}

.carouselBanner--content__slider .carouselBanner--slider__item .carouselBanner--item__body .carouselBanner--item--body__container a:hover {
  text-decoration: none;
}

.carouselBanner--content__slider .carouselBanner--slider__item .carouselBanner__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.carouselBanner--content__slider .carouselBanner--slider__item .carouselBanner--content__IMG {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../img/carousel-img-01.jpg");
  background-size: cover;
  background-position: top right;
  z-index: 1;
}

.carouselBanner__arrows {
  position: relative;
  top: 50%;
  z-index: 5;
}

.carouselBanner__arrows img:nth-child(1) {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 7%;
  cursor: pointer;
}

.carouselBanner__arrows img:nth-child(2) {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 7%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: pointer;
}

.carouselBanner--sticky__BTN {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: calc(100% - 64px);
  position: fixed;
  z-index: 10;
  border: 1px solid #0078c5;
}

.stack--02 {
  width: 100%;
  padding: 144px 0px;
}

.stack02__cards {
  padding-left: 0px;
  padding-right: 0px;
}

.stack02--cards__wrapper {
  margin: 5px;
  padding: 32px 9.94% 16px 9.94%;
  overflow: auto;
  background: #fff;
}

.stack02--cards__wrapper .stack02--cards__body {
  padding-bottom: 16px;
}

.stack02--cards__wrapper .stack02--cards__body .stack02--cards__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: #dbdbdb;
  margin-bottom: 64px;
}

.stack02--cards__wrapper .stack02--cards__body .stack02--cards__content svg {
  width: 64px;
  height: auto;
  fill: #022379;
}

.stack02--cards__wrapper .stack02--cards__body .stack02--cards__content h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
  color: #414141;
  margin: 24px 0px 8px 0px;
}

.stack02--cards__wrapper .stack02--cards__body .stack02--cards__content p {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: #878787;
  height: 40px;
  line-height: 2.4rem;
}

.stack02--cards__wrapper .stack02--cards__body .stack02--cards__content .default-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

.stack02--cards__wrapper .stack02--cards__footer {
  padding-top: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  overflow: auto;
}

.stack02--cards__wrapper .stack02--cards__footer div:nth-child(1) {
  width: 50%;
  float: left;
}

.stack02--cards__wrapper .stack02--cards__footer div:nth-child(1) a {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  color: #0082d6;
  text-transform: uppercase;
  text-decoration: none;
}

.stack02--cards__wrapper .stack02--cards__footer div:nth-child(1) a:hover {
  color: #fff;
  text-decoration: underline;
}

.stack02--cards__wrapper .stack02--cards__footer div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  float: left;
}

.stack02--cards__wrapper .stack02--cards__footer div:nth-child(2) svg {
  width: 22px;
  height: auto;
  fill: #0082d6;
}

.stack02--cards__wrapper:hover {
  cursor: pointer;
  background: #0082d6;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.stack02--cards__wrapper:hover > .stack02--cards__body > .stack02--cards__counter {
  color: #fff;
}

.stack02--cards__wrapper:hover > .stack02--cards__body > .stack02--cards__content svg {
  fill: #fff;
}

.stack02--cards__wrapper:hover > .stack02--cards__body > .stack02--cards__content h2 {
  color: #fff;
}

.stack02--cards__wrapper:hover > .stack02--cards__body > .stack02--cards__content p {
  color: #fff;
}

.stack02--cards__wrapper:hover > .stack02--cards__body ~ .stack02--cards__footer {
  border-color: rgba(255, 255, 255, 0.08);
}

.stack02--cards__wrapper:hover > .stack02--cards__body ~ .stack02--cards__footer a {
  color: #fff;
}

.stack02--cards__wrapper:hover > .stack02--cards__body ~ .stack02--cards__footer svg {
  fill: #fff;
}

.stack--03 {
  width: 100%;
}

.stack03__videoSlider {
  position: relative;
  width: 100%;
  height: 544px;
}

.stack03--videoSlider__container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.stack03--videoSlider__container .stack03--videoSlider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500%;
  height: 100%;
  -webkit-transform: translateX(-1410px);
          transform: translateX(-1410px);
}

.stack03--videoSlider__container .stack03--videoSlider__item .stack03--videoSlider--item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ccc;
}

.stack03--videoSlider__container .stack03--videoSlider__item .stack03--videoSlider--item__content h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  color: #ececec;
}

.stack03--videoSlider__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stack03--videoSlider__controls .stack03--videoSlider--controls__PREV {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  width: 14.9%;
  height: 100%;
  padding-right: 40px;
  cursor: pointer;
  background: rgba(0, 130, 214, 0.8);
}

.stack03--videoSlider__controls .stack03--videoSlider--controls__PREV img {
  cursor: pointer;
}

.stack03--videoSlider__controls .stack03--videoSlider--controls__NEXT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 14.9%;
  height: 100%;
  padding-left: 40px;
  cursor: pointer;
  background: rgba(0, 130, 214, 0.8);
}

.stack03--videoSlider__controls .stack03--videoSlider--controls__NEXT img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: pointer;
}

.stack--04 {
  width: 100%;
  padding: 144px 0px 232px 0px;
}

.stack04__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
}

.stack04--cards__leftColumn {
  width: 51.1176%;
  background: #fff;
}

.stack04--cards__leftColumn .stack04--cards--leftColumn__thumb {
  width: 100%;
}

.stack04--cards__leftColumn .stack04--cards--leftColumn__thumb img {
  width: 100%;
  height: auto;
}

.stack04--cards__leftColumn .stack04--cards--leftColumn__content {
  padding: 40px;
}

.stack04--cards__leftColumn .stack04--cards--leftColumn__content .stack04--cards--leftColumn--content__container {
  width: 100%;
}

.stack04--cards__leftColumn .stack04--cards--leftColumn__content .stack04--cards--leftColumn--content__container h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  color: #022379;
  line-height: 3.6rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.stack04--cards__leftColumn .stack04--cards--leftColumn__content .stack04--cards--leftColumn--content__container p {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #848484;
  line-height: 3.0rem;
  max-height: 56px;
  overflow: hidden;
  margin-bottom: 24px;
}

.stack04--cards__leftColumn .stack04--cards--leftColumn__content .stack04--cards--leftColumn--content__container .stack04--cards--leftColumn--content__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stack04--cards__leftColumn .stack04--cards--leftColumn__content .stack04--cards--leftColumn--content__container .stack04--cards--leftColumn--content__link a {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #0082d6;
  text-transform: uppercase;
}

.stack04--cards__leftColumn .stack04--cards--leftColumn__content .stack04--cards--leftColumn--content__container .stack04--cards--leftColumn--content__link img {
  margin-left: 8px;
}

.stack04--cards__rightColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 47.1176%;
}

.stack04--cards__rightColumn .stack04--cards--rightColumn__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #fff;
}

.stack04--cards__rightColumn .stack04--cards--rightColumn__item .stack04--cards--rightColumn--item__thumb {
  width: 33%;
  background: #ccc;
}

.stack04--cards__rightColumn .stack04--cards--rightColumn__item .stack04--cards--rightColumn--item__content {
  width: 67%;
  padding: 18px 24px;
}

.stack04--cards__rightColumn .stack04--cards--rightColumn__item .stack04--cards--rightColumn--item__content .stack04--cards--rightColumn--item--content__container {
  width: 100%;
}

.stack04--cards__rightColumn .stack04--cards--rightColumn__item .stack04--cards--rightColumn--item__content .stack04--cards--rightColumn--item--content__container h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #022379;
  font-weight: 600;
  line-height: 2.9rem;
  max-height: 56px;
  overflow: hidden;
  margin-bottom: 5px;
}

.stack04--cards__rightColumn .stack04--cards--rightColumn__item .stack04--cards--rightColumn--item__content .stack04--cards--rightColumn--item--content__container p {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: #848484;
  line-height: 2.6rem;
  max-height: 50px;
  overflow: hidden;
  margin-bottom: 16px;
}

.stack04--cards__rightColumn .stack04--cards--rightColumn__item .stack04--cards--rightColumn--item__content .stack04--cards--rightColumn--item--content__container .stack04--cards--rightColumn--content__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stack04--cards__rightColumn .stack04--cards--rightColumn__item .stack04--cards--rightColumn--item__content .stack04--cards--rightColumn--item--content__container .stack04--cards--rightColumn--content__link a {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #0082d6;
  text-transform: uppercase;
}

.stack04--cards__rightColumn .stack04--cards--rightColumn__item .stack04--cards--rightColumn--item__content .stack04--cards--rightColumn--item--content__container .stack04--cards--rightColumn--content__link img {
  margin-left: 8px;
}

#mainFooter {
  width: 100%;
  background: #e2e2e2;
}

.mainFooter__container {
  position: relative;
}

.mainFooter__subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: absolute;
  top: -88px;
  width: 100%;
  padding: 40px 24px;
  background: #022379;
}

.mainFooter__subscription h3 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  color: #fff;
  min-width: 357px;
  font-weight: 500;
  margin: 0px 24px 0px 16px;
}

.mainFooter__subscription form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-width: 624px;
}

.mainFooter__subscription form input {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  color: #4c4c4c;
  width: 100%;
  max-width: 416px;
  height: 56px;
  border-radius: 8px;
  border: 0;
  text-indent: 24px;
}

.mainFooter__subscription form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #fff;
  width: 100%;
  max-width: 192px;
  height: 56px;
  text-transform: uppercase;
  border-radius: 8px;
  border: 2px solid #fff;
  background: none;
  margin-left: 16px;
  padding: 0px 24px;
}

.mainFooter__subscription form button img {
  padding-right: 16px;
}

.mainFooter__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 88px 0px 32px 0px;
}

.mainFooter__nav .mainFooter--nav__col01 {
  width: 21.15%;
}

.mainFooter__nav .mainFooter--nav__col01 img {
  width: 100%;
  max-width: 201px;
  height: auto;
}

.mainFooter__nav .mainFooter--nav__col02 {
  width: 27.56%;
}

.mainFooter__nav .mainFooter--nav__col02 h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #4c4c4c;
  display: inline;
}

.mainFooter__nav .mainFooter--nav__col02 p {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: #848484;
  display: inline-block;
  max-width: 312px;
  line-height: 2.6rem;
}

.mainFooter__nav .mainFooter--nav__col03 {
  width: 26.28%;
}

.mainFooter__nav .mainFooter--nav__col03 h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #4c4c4c;
  display: inline;
}

.mainFooter__nav .mainFooter--nav__col03 p {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: #848484;
  display: inline-block;
  max-width: 312px;
  line-height: 2.6rem;
}

.mainFooter__nav .mainFooter--nav__col04 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 25.01%;
}

.mainFooter__nav .mainFooter--nav__col04 h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
  color: #4c4c4c;
  padding-bottom: 16px;
}

.mainFooter__nav .mainFooter--nav__col04 img {
  padding-left: 16px;
}

.mainFooter__copyright {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: #848484;
  width: 100%;
  padding: 24px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  text-align: center;
}
/*# sourceMappingURL=app.css.map */