@import './partials/variables';
@import './partials/mixins';

.section-heading {
    width:100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    margin-bottom: 64px;
  
    h3 {
        @include headingFont(2.0rem, #636363);
        margin-bottom: 16px;
        text-transform: uppercase;
        text-indent: 0.8rem;
    }
}

.slider-transition {
    transition: 500ms transform ease-out;
}

#headerPlaceholder {
    width: 100%;
    height: 88px;

    div {
        &:nth-child(1) {
            width: 50%;
            height: 88px;
            float:left;
            background: #fff;
        }

        &:nth-child(2) {
            width: 50%;
            height: 88px;
            float:left;
            background: $primaryColor;
        }
    }
}

#mainHeader {
    position: absolute;
    top: 0px;
    width: 100%;
}

.mainHeader-container {
    display: flex;
    width: 100%;

    .mainHeader-logo {
        @include displayFlex(flex-start, center);
        float: left;
        width: 20%;
        height: 88px;
        padding-right: 16px;
        background: #fff;

        img {
            width: 100%;
            max-width: 200px;
            height: auto;
        }
    }

    .mainHeader-navigation {
        @include displayFlex(flex-end, center);
        width: 80%;
        height: 88px;
        background: $primaryColor;

        .mainHeader-navigation-container {
            @include displayFlex(center, center);

            .mainHeader-links {
                padding: 10px 0px;
                border-right: 1px solid rgba(255, 255, 255, 0.08);

                ul {
                    margin-bottom: 0;

                    li {
                        display: inline-block;
                        margin: 0px 20px;
    
                        a {
                            @include headingFont(1.6rem, #fff);
                            padding: 30px 0px;
                            font-weight: 600;
                            text-transform: uppercase;
                            text-decoration: none;
    
                            &:hover  {
                                text-decoration: none;
                                color: #fff;
                                border-bottom: 4px solid #fff;
                            }
                        }
    
                        ul {
                            position: absolute;
                            top: 88px;
                            display: hidden;
                            visibility: hidden;
                            background: #fff;
                            z-index: 10;
                            min-width: 250px;
    
                            li {
                                @include headingFont(1.6rem, #000);
                                display:block;
                                width: 100%;
                                font-weight: 600;
                                margin: 0;

                                a {
                                    display: block;
                                    font-weight: 600;
                                    padding: 12px;
                                    margin-left:8px;
                                    text-decoration: none;
                                    text-transform: none;
                                    color: #414141;
            
                                    &:hover {
                                        text-decoration: none;
                                        color: #fff;
                                        background: $secondaryColor;
                                        border-bottom: 0px;
                                    }
                                }

                                &:hover {
                                    background: $secondaryColor;
                                }
                            }
                        }

                        &:hover > ul, ul li ul:hover {
                            visibility: visible;
                            display: block;
                        }
                    }
                } 
            }

            .mainHeader-search {
                margin-left: 32px;

                img {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}

.carouselBanner {
    position: relative;
    width: 100%;
    height: calc(100vh - 88px);
    min-height: 608px;

    .carouselBanner-content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        overflow: hidden;

        .carouselBanner-content-slider {
            @include displayFlex(center, center);
            height: 100%;

            .carouselBanner-content-slide {
                @include displayFlex(flex-start, center);
                position: relative;
                width: 100%;
                height: 100%;
                overflow: auto;

                .carouselBanner-content-body {
                    @include displayFlex(flex-start, center);
                    z-index: 3;

                    .carouselBanner-content-body-container {

                        h2 {
                            @include headingFont(5.6rem, #fff);
                            max-width: 640px;
                            text-transform: uppercase;
                            padding-bottom: 8px;

                            & span {
                                font-size: 2.4rem;
                            }
                        }
            
                        p, li {
                            @include bodyFont(2.0rem, #fff);
                            max-width: 612px;
                            line-height: 3.2rem;

                            & span {
                                font-weight: 700;
                            }
                        }

                        ul {
                            list-style-type: square;

                            li {
                                margin-left: 56px;
                            }
                        }
            
                        a {
                            @include headingFont(1.6rem, #fff);
                            display: inline-block;
                            padding: 24px 40px;
                            margin-top: 32px;
                            font-size: 1.6rem;
                            font-weight: 500;
                            text-transform: uppercase;
                            border-radius: 8px;
                            border: 0px solid #fff;
                            background: $secondaryColor;
                            color: #fff;
    
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }  
                }

                .carouselBanner-overlay {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.30);
                    z-index: 2;
                }

                .carouselBanner-content_IMG {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    background: url('../img/carousel-img-01.jpg');
                    background-size: cover;
                    background-position: top right;
                    z-index: 1;
                }
            }
        } 
    }

    .carouselBanner-arrows {
        position: relative;
        top: 50%;
        z-index: 5;

        img:nth-child(1) {
            position: absolute;
            transform: translateY(-50%);
            left: 7%;
            cursor: pointer;
        }

        img:nth-child(2) {
            position: absolute;
            transform: translateY(-50%);
            right: 7%;
            transform: rotate(180deg);
            cursor: pointer;
        }
    }

    .carouselBanner-sticky-btn {
        top: 50%;
        transform: translateY(-50%);
        left: calc(100% - 64px);
        position: fixed;
        z-index: 10;
        border: 1px solid #0078c5;
    }
}

.stack-02 {
    width: 100%;
    padding: 144px 0px;
}

.stack-02-cards {
    padding-left: 0px;
    padding-right: 0px;

    .stack-02-cards-wrapper {
        margin: 5px;
        padding: 32px 9.94% 16px 9.94%;
        overflow: auto;
        background: #fff;

        .stack-02-cards-body {
            padding-bottom: 16px;

            .stack-02-cards-counter {
                @include displayFlex(flex-end, center);
                @include headingFont(2.4rem, #dbdbdb);
                margin-bottom: 64px;
            }

            .stack-02-cards-content {
                svg {
                    width: 64px;
                    height: auto;
                    fill: $primaryColor;
                }

                h2 {
                    @include headingFont(2.2rem, #414141);
                    margin: 24px 0px 8px 0px;
                }

                p {
                    @include bodyFont(1.6rem, #878787);
                    height: 40px;
                    line-height: 2.4rem;
                }

                .default-link{ 
                    position:absolute; 
                    width:100%;
                    height:100%;
                    top:0;
                    left: 0;
                    z-index: 1;
                    filter: alpha(opacity=0);  
                    opacity:0;  
                }
            }
        }

        .stack-02-cards-footer {
            padding-top: 16px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            overflow: auto;

            div {
                &:nth-child(1) {
                    width: 50%;
                    float: left;
    
                    a {
                        @include headingFont(1.4rem, $secondaryColor);
                        text-transform: uppercase;
                        text-decoration: none;

                        &:hover {
                            color: #fff;
                            text-decoration: underline;
                        }
                    }

                    
                }

                &:nth-child(2) {
                    @include displayFlex(flex-end, center);
                    width: 50%;
                    float: left;

                    svg {
                        width: 22px;
                        height: auto;
                        fill: $secondaryColor;
                    }
                }
            }
        }

        &:hover {
            cursor: pointer;
            background: $secondaryColor;
            transition: all 0.5s ease;
        }

        &:hover > .stack-02-cards-body > .stack-02-cards-counter {
            color: #fff;
        }

        &:hover > .stack-02-cards-body > .stack-02-cards-content svg {
            fill: #fff;
        }

        &:hover > .stack-02-cards-body > .stack-02-cards-content h2 {
            color: #fff;
        }

        &:hover > .stack-02-cards-body > .stack-02-cards-content p {
            color: #fff;
        }

        &:hover > .stack-02-cards-body ~ .stack-02-cards-footer {
            border-color: rgba(255, 255, 255, 0.08);
        }

        &:hover > .stack-02-cards-body ~ .stack-02-cards-footer a {
            color: #fff;
        }

        &:hover > .stack-02-cards-body ~ .stack-02-cards-footer svg {
            fill: #fff;
        }
    }
}

.stack-03 {
    width: 100%;

    .stack-03-videoSlider {
        position: relative;
        width: 100%;
        height: 544px;

        .stack-03-videoSlider-container {
            width: 100%;
            height: 100%;
            overflow-x: hidden;

            .stack-03-videoSlider-slider {
                display: flex;
                width: 500%;
                height: 100%;
                transform: translateX(-1410px);

                .stack-03-videoSlider-slider-content {
                    @include displayFlex(center, center);
                    background: #ccc;

                    h2 {
                        @include headingFont(3.2rem, #ececec);
                    }
                }
            }
        }

        .stack-03-videoSlider-controls {
            display: flex;
            justify-content: space-between;

            .stack-03-videoSlider-controls-left {
                @include displayFlex(flex-end, center);
                position: absolute;
                top: 0;
                width: 14.9%;
                height: 100%;
                padding-right: 40px;
                background: rgba($primaryColor, 0.8);

                img {
                    cursor: pointer;
                }
            }

            .stack-03-videoSlider-controls-right {
                @include displayFlex(flex-start, center);
                position: absolute;
                top: 0;
                right: 0;
                width: 14.9%;
                height: 100%;
                padding-left: 40px;
                background: rgba($primaryColor, 0.8);

                img {
                    transform: rotate(180deg);
                    cursor: pointer;
                }
            }
        }
    }
}

.stack-04 {
    width: 100%;
    padding: 144px 0px 232px 0px;
}

.stack-04-cards {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;

    .stack-04-cards-leftColumn {
        width: 51.1176%;
        background: #fff;

        .stack-04-cards-leftColumn-thumb {
            width: 100%;

            img {
                width: 100%;
                height: auto;
            }
        }

        .stack-04-cards-leftColumn-content {
            padding: 40px;

            .stack-04-cards-leftColumn-content-container {
                width: 100%;

                h2 {
                    @include headingFont(2.8rem, $primaryColor);
                    line-height: 3.6rem;
                    font-weight: 600;
                    margin-bottom: 16px;
                }

                p {
                    @include bodyFont(2.0rem, #848484);
                    line-height: 3.0rem;
                    max-height: 56px;
                    overflow: hidden;
                    margin-bottom: 24px;
                }

                .stack-04-cards-leftColumn-content-link {
                    @include displayFlex(flex-start, center);

                    a {
                        @include headingFont(1.6rem, $secondaryColor);
                        text-transform: uppercase;
                    }

                    img {
                        margin-left: 8px;
                    }
                }
            }
        }
    }

    .stack-04-cards-rightColumn {
        display: flex;
        align-content: space-between;
        flex-flow: row wrap;
        width: 47.1176%;

        .stack-04-cards-rightColumn-card {
            display: flex;
            width: 100%;
            background: #fff;

            .stack-04-cards-rightColumn-card-thumb {
                width: 33%;
                background: #ccc;
            }

            .stack-04-cards-rightColumn-card-content {
                width: 67%;
                padding: 18px 24px;

                .stack-04-cards-rightColumn-card-content-container {
                    width: 100%;

                    h2 {
                        @include headingFont(2.0rem, $primaryColor);
                        font-weight: 600;
                        line-height: 2.9rem;
                        max-height: 56px;
                        overflow: hidden;
                        margin-bottom: 5px;
                    }
    
                    p {
                        @include bodyFont(1.8rem, #848484);
                        line-height: 2.6rem;
                        max-height: 50px;
                        overflow: hidden;
                        margin-bottom: 16px;
                    }
    
                    .stack-04-cards-rightColumn-content-link {
                        @include displayFlex(flex-start, center);
    
                        a {
                            @include headingFont(1.6rem, $secondaryColor);
                            text-transform: uppercase;
                        }
    
                        img {
                            margin-left: 8px;
                        }
                    }
                }
            }    
        }
    }
}

#mainFooter {
    width: 100%;
    background: #e2e2e2;

    .mainFooter-container {
        position: relative;

        .mainFooter-subscription {
            @include displayFlex(center, center);
            flex-flow: row nowrap;
            position: absolute;
            top: -88px;
            width: 100%;
            padding: 40px 24px;
            background: $primaryColor;
    
            h3 {
                @include headingFont(2.8rem, #fff);
                min-width: 357px;
                font-weight: 500;
                margin: 0px 24px 0px 16px;
            }
    
            form {
                @include displayFlex(flex-start, flex-start);
                width: 100%;
                max-width: 624px;
    
                input {
                    @include bodyFont(2.4rem, #4c4c4c);
                    width: 100%;
                    max-width: 416px;
                    height: 56px;
                    border-radius: 8px;
                    border: 0;
                    text-indent: 24px;
                }
    
                button {
                    @include displayFlex(center, center);
                    @include headingFont(1.8rem, #fff);
                    width: 100%;
                    max-width: 192px;
                    height: 56px;
                    text-transform: uppercase;
                    border-radius: 8px;
                    border: 2px solid #fff;
                    background: none;
                    margin-left: 16px;
                    padding: 0px 24px;
    
                    img {
                        padding-right: 16px;
                    }
                }
            }
        }
    }

    .mainFooter-nav {
        @include displayFlex(flex-start, flex-start);
        flex-flow: row wrap;
        padding: 88px 0px 32px 0px;

        .mainFooter-nav-col-01 {
            width: 21.15%;

            img {
                width: 100%;
                max-width: 201px;
                height: auto;
            }
        }

        .mainFooter-nav-col-02 {
            width: 27.56%;

            h2 {
                @include headingFont(2.0rem, #4c4c4c);
                display: inline;
            }

            p {
                @include bodyFont(1.6rem, #848484);
                display: inline-block;
                max-width: 312px;
                line-height: 2.6rem;
            }
        }
        
        .mainFooter-nav-col-03 {
            width: 26.28%;

            h2 {
                @include headingFont(2.0rem, #4c4c4c);
                display: inline;
            }

            p {
                @include bodyFont(1.6rem, #848484);
                display: inline-block;
                max-width: 312px;
                line-height: 2.6rem;
            }
        }
        
        .mainFooter-nav-col-04 {
            @include displayFlex(flex-end, center);
            flex-flow: row wrap;
            width: 25.01%;

            h2 {
                @include headingFont(2.2rem, #4c4c4c);
                padding-bottom: 16px;
            }

            img {
                padding-left: 16px;
            }
        }
    }

    .mainFooter-copyright {
        @include bodyFont(1.6rem, #848484);
        width: 100%;
        padding: 24px 0px;
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        text-align: center;
    }
}