@import './partials/variables';
@import './partials/mixins';

%headingFont {
    font-family: $documentText;
    font-weight: 700;
}

%bodyFont {
    font-family: $documentText;
    font-weight: 300;
}

%flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

#headerPlaceholder {
    width: 100%;
    height: 88px;

    div {
        &:nth-child(1) {
            width: 50%;
            height: 88px;
            float:left;
            background: #fff;
        }

        &:nth-child(2) {
            width: 50%;
            height: 88px;
            float:left;
            background: $primaryColor;
        }
    }
}

#mainHeader {
    position: absolute;
    top: 0px;
    width: 100%;
}


.mainHeader-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;

    .mainHeader-logo {
        @extend %flexCenter;
        justify-content: flex-start;
        float: left;
        width: 17.65%;
        height: 88px;
        background: #fff;

        img {
            width: 100%;
            max-width: 200px;
            height: auto;
        }
    }

    .mainHeader-navigation {
        @extend %flexCenter;
        justify-content: flex-end;
        width: 82.35%;
        height: 88px;
        background: $primaryColor;

        nav {
            @extend %flexCenter;

            .mainHeader-links {
                padding: 10px 0px;
                border-right: 1px solid rgba(255, 255, 255, 0.08);

                ul {
                    margin-bottom: 0;
                } 

                li {
                    display: inline;
                    margin: 0px 20px;

                    a {
                        @extend %headingFont;
                        padding: 30px 0px;
                        font-size: 1.6rem;
                        font-weight: 600;
                        text-transform: uppercase;
                        text-decoration: none;
                        color:  #fff;

                        &:hover {
                            text-decoration: none;
                            color: #fff;
                            border-bottom: 4px solid #fff;
                        }
                    }

                    &:last-child {
                        margin-right: 32px
                    }
                }
            }

            .mainHeader-search {
                margin-left: 32px;

                img {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}

.carouselBanner {
    position: relative;
    width: 100%;
    height: calc(100vh - 88px);
    min-height: 608px;
    background: url('../img/carousel-img-01.jpg');
    background-size: cover;
    background-position: top right;

    .carouselBanner-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.30);
    }

    .carouselBanner-sticky-btn {
        top: 50%;
        transform: translateY(-50%);
        left: calc(100% - 64px);
        position: fixed;
        z-index: 5;
    }
}

.stack-02 {
    width: 100%;
    padding: 144px 0px 232px 0px;
    background: #f5f5f5;
}

.stack-02-cards {
    padding-left: 0px;
    padding-right: 0px;

    .stack-02-cards-wrapper {
        margin: 5px;
        padding: 32px 9.94% 16px 9.94%;
        overflow: auto;
        background: #fff;

        .stack-02-cards-body {
            padding-bottom: 16px;

            .stack-02-cards-counter {
                @extend %headingFont;
                font-size: 2.4rem;
                color: #dbdbdb;
                text-align: end;
                margin-bottom: 64px;
            }

            .stack-02-cards-content {
                svg {
                    width: 64px;
                    height: auto;
                    fill: $primaryColor;
                }

                h2 {
                    @extend %headingFont;
                    font-size: 2.2rem;
                    margin: 24px 0px 8px 0px;
                    color: #414141;
                }

                p {
                    @extend %bodyFont;
                    height: 40px;
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    color: #878787;
                }
            }
        }

        .stack-02-cards-footer {
            padding-top: 16px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);

            div {
                &:nth-child(1) {
                    width: 50%;
                    float: left;
    
                    a {
                        @extend %headingFont;
                        font-size: 1.4rem;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: $secondaryColor;

                        &:hover {
                            color: #fff;
                            text-decoration: underline;
                        }
                    }

                    
                }

                &:nth-child(2) {
                    width: 50%;
                    float: left;
                    text-align: end;

                    svg {
                        width: 22px;
                        height: auto;
                        fill: $secondaryColor;
                    }
                }
            }
        }

        &:hover {
            cursor: pointer;
            background: $secondaryColor;
            transition: all 0.5s ease;
        }

        &:hover > .stack-02-cards-body > .stack-02-cards-counter {
            color: #fff;
        }

        &:hover > .stack-02-cards-body > .stack-02-cards-content svg {
            fill: #fff;
        }

        &:hover > .stack-02-cards-body > .stack-02-cards-content h2 {
            color: #fff;
        }

        &:hover > .stack-02-cards-body > .stack-02-cards-content p {
            color: #fff;
        }

        &:hover > .stack-02-cards-body ~ .stack-02-cards-footer {
            border-color: rgba(255, 255, 255, 0.08);
        }

        &:hover > .stack-02-cards-body ~ .stack-02-cards-footer a {
            color: #fff;
        }

        &:hover > .stack-02-cards-body ~ .stack-02-cards-footer svg {
            fill: #fff;
        }
    }
}

#mainFooter {
    width: 100%;
    background: #e2e2e2;

    .mainFooter-container {
        position: relative;

        .mainFooter-subscription {
            @extend %flexCenter;
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            position: absolute;
            top: -88px;
            width: 100%;
            padding: 40px 24px;
            background: $primaryColor;
    
            h3 {
                @extend %headingFont;
                min-width: 357px;
                font-size: 2.8rem;
                font-weight: 500;
                color: #fff;
                margin: 0px 24px 0px 16px;
            }
    
            form {
                @extend %flexCenter;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                max-width: 624px;
    
                input {
                    @extend %bodyFont;
                    width: 100%;
                    max-width: 416px;
                    height: 56px;
                    border-radius: 8px;
                    border: 0;
                    font-size: 2.4rem;
                    text-indent: 24px;
                }
    
                button {
                    @extend %flexCenter;
                    @extend %headingFont;
                    width: 100%;
                    max-width: 192px;
                    height: 56px;
                    font-size: 1.8rem;
                    text-transform: uppercase;
                    border-radius: 8px;
                    border: 2px solid #fff;
                    color: #fff;
                    background: none;
                    margin-left: 16px;
                    padding: 0px 24px;
    
                    img {
                        padding-right: 16px;
                    }
                }
            }
        }
    }

    .mainFooter-nav {
        @extend %flexCenter;
        justify-content: flex-start;
        align-items: flex-start;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        padding: 88px 0px 32px 0px;

        .mainFooter-nav-col-01 {
            width: 21.15%;

            img {
                width: 100%;
                max-width: 201px;
                height: auto;
            }
        }

        .mainFooter-nav-col-02 {
            width: 27.56%;

            h2 {
                @extend %headingFont;
                display: inline;
                font-size: 2.0rem;
                color: #4c4c4c;
            }

            p {
                @extend %bodyFont;
                @include footerText;
            }
        }
        
        .mainFooter-nav-col-03 {
            width: 26.28%;

            h2 {
                @extend %headingFont;
                display: inline;
                font-size: 2.0rem;
                color: #4c4c4c;
            }

            p {
                @extend %bodyFont;
                @include footerText;
            }
        }
        
        .mainFooter-nav-col-04 {
            width: 25.01%;
            text-align: end;

            h2 {
                @extend %headingFont;
                font-size: 2.2rem;
                color: #4c4c4c;
                padding-bottom: 16px;
            }

            img {
                padding-left: 16px;
            }
        }
    }

    .mainFooter-copyright {
        @extend %bodyFont;
        width: 100%;
        padding: 24px 0px;
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        text-align: center;
        font-size: 1.6rem;
        color: #848484;
    }
}