* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  background: #f5f5f5;
}

h1 {
  display: none;
}

.container-width-limit {
  width: 100%;
  max-width: 1328px;
  padding: 0 40px;
  margin: 0 auto;
}

.section-heading {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin-bottom: 64px;
}

.section-heading h3 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #636363;
  margin-bottom: 16px;
  text-transform: uppercase;
  text-indent: 0.8rem;
}

.slider-transition {
  -webkit-transition: 400ms -webkit-transform ease-in-out;
  transition: 400ms -webkit-transform ease-in-out;
  transition: 400ms transform ease-in-out;
  transition: 400ms transform ease-in-out, 400ms -webkit-transform ease-in-out;
}

#headerPlaceholder {
  width: 100%;
  height: 88px;
}

#headerPlaceholder div:nth-child(1) {
  width: 50%;
  height: 88px;
  float: left;
  background: #fff;
}

#headerPlaceholder div:nth-child(2) {
  width: 50%;
  height: 88px;
  float: left;
  background: #022379;
}

#mainHeader {
  position: absolute;
  top: 0px;
  width: 100%;
}

.mainHeader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.mainHeader-container .mainHeader-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  width: 20%;
  height: 88px;
  padding-right: 16px;
  background: #fff;
}

.mainHeader-container .mainHeader-logo img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.mainHeader-container .mainHeader-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 88px;
  background: #022379;
}

.mainHeader-container .mainHeader-navigation .mainHeader-navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainHeader-container .mainHeader-navigation .mainHeader-navigation-container .mainHeader-links {
  padding: 10px 0px;
  border-right: 1px solid rgba(255, 255, 255, 0.08);
}

.mainHeader-container .mainHeader-navigation .mainHeader-navigation-container .mainHeader-links ul {
  margin-bottom: 0;
}

.mainHeader-container .mainHeader-navigation .mainHeader-navigation-container .mainHeader-links ul li {
  position: relative;
  display: inline-block;
  margin: 0px 20px;
}

.mainHeader-container .mainHeader-navigation .mainHeader-navigation-container .mainHeader-links ul li a {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;
  padding: 30px 0px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.mainHeader-container .mainHeader-navigation .mainHeader-navigation-container .mainHeader-links ul li a:hover {
  text-decoration: none;
  color: #fff;
  border-bottom: 4px solid #fff;
}

.mainHeader-container .mainHeader-navigation .mainHeader-navigation-container .mainHeader-links ul li ul {
  position: absolute;
  left: 0;
  top: 56px;
  display: hidden;
  visibility: hidden;
  background: #fff;
  z-index: 10;
  min-width: 200px;
}

.mainHeader-container .mainHeader-navigation .mainHeader-navigation-container .mainHeader-links ul li ul li {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #000;
  display: block;
  font-weight: 600;
  margin: 0;
  padding: 8px 16px;
}

.mainHeader-container .mainHeader-navigation .mainHeader-navigation-container .mainHeader-links ul li:hover > ul, .mainHeader-container .mainHeader-navigation .mainHeader-navigation-container .mainHeader-links ul li ul li ul:hover {
  visibility: visible;
  display: block;
}

.mainHeader-container .mainHeader-navigation .mainHeader-navigation-container .mainHeader-search {
  margin-left: 32px;
}

.mainHeader-container .mainHeader-navigation .mainHeader-navigation-container .mainHeader-search img {
  width: 32px;
  height: 32px;
}

.carouselBanner {
  position: relative;
  width: 100%;
  height: calc(100vh - 88px);
  min-height: 608px;
}

.carouselBanner .carouselBanner-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  overflow: hidden;
}

.carouselBanner .carouselBanner-content .carouselBanner-content-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.carouselBanner .carouselBanner-content .carouselBanner-content-slider .carouselBanner-content-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.carouselBanner .carouselBanner-content .carouselBanner-content-slider .carouselBanner-content-slide .carouselBanner-content-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.carouselBanner .carouselBanner-content .carouselBanner-content-slider .carouselBanner-content-slide .carouselBanner-content-body .carouselBanner-content-body-container h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 5.6rem;
  color: #fff;
  max-width: 640px;
  text-transform: uppercase;
  padding-bottom: 8px;
}

.carouselBanner .carouselBanner-content .carouselBanner-content-slider .carouselBanner-content-slide .carouselBanner-content-body .carouselBanner-content-body-container h2 span {
  font-size: 2.4rem;
}

.carouselBanner .carouselBanner-content .carouselBanner-content-slider .carouselBanner-content-slide .carouselBanner-content-body .carouselBanner-content-body-container p, .carouselBanner .carouselBanner-content .carouselBanner-content-slider .carouselBanner-content-slide .carouselBanner-content-body .carouselBanner-content-body-container li {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #fff;
  max-width: 612px;
  line-height: 3.2rem;
}

.carouselBanner .carouselBanner-content .carouselBanner-content-slider .carouselBanner-content-slide .carouselBanner-content-body .carouselBanner-content-body-container p span, .carouselBanner .carouselBanner-content .carouselBanner-content-slider .carouselBanner-content-slide .carouselBanner-content-body .carouselBanner-content-body-container li span {
  font-weight: 700;
}

.carouselBanner .carouselBanner-content .carouselBanner-content-slider .carouselBanner-content-slide .carouselBanner-content-body .carouselBanner-content-body-container ul {
  list-style-type: square;
}

.carouselBanner .carouselBanner-content .carouselBanner-content-slider .carouselBanner-content-slide .carouselBanner-content-body .carouselBanner-content-body-container ul li {
  margin-left: 56px;
}

.carouselBanner .carouselBanner-content .carouselBanner-content-slider .carouselBanner-content-slide .carouselBanner-content-body .carouselBanner-content-body-container a {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;
  display: inline-block;
  padding: 24px 40px;
  margin-top: 32px;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 8px;
  border: 0px solid #fff;
  background: #0082d6;
  color: #fff;
}

.carouselBanner .carouselBanner-content .carouselBanner-content-slider .carouselBanner-content-slide .carouselBanner-content-body .carouselBanner-content-body-container a:hover {
  text-decoration: none;
}

.carouselBanner .carouselBanner-content .carouselBanner-content-slider .carouselBanner-content-slide .carouselBanner-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.carouselBanner .carouselBanner-content .carouselBanner-content-slider .carouselBanner-content-slide .carouselBanner-content_IMG {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url("../img/carousel-img-01.jpg");
  background-size: cover;
  background-position: top right;
  z-index: 1;
}

.carouselBanner .carouselBanner-arrows {
  position: relative;
  top: 50%;
  z-index: 5;
}

.carouselBanner .carouselBanner-arrows img:nth-child(1) {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 7%;
  cursor: pointer;
}

.carouselBanner .carouselBanner-arrows img:nth-child(2) {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 7%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: pointer;
}

.carouselBanner .carouselBanner-sticky-btn {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: calc(100% - 64px);
  position: fixed;
  z-index: 10;
  border: 1px solid #0078c5;
}

.stack-02 {
  width: 100%;
  padding: 144px 0px;
}

.stack-02-cards {
  padding-left: 0px;
  padding-right: 0px;
}

.stack-02-cards .stack-02-cards-wrapper {
  margin: 5px;
  padding: 32px 9.94% 16px 9.94%;
  overflow: auto;
  background: #fff;
}

.stack-02-cards .stack-02-cards-wrapper .stack-02-cards-body {
  padding-bottom: 16px;
}

.stack-02-cards .stack-02-cards-wrapper .stack-02-cards-body .stack-02-cards-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: #dbdbdb;
  margin-bottom: 64px;
}

.stack-02-cards .stack-02-cards-wrapper .stack-02-cards-body .stack-02-cards-content svg {
  width: 64px;
  height: auto;
  fill: #022379;
}

.stack-02-cards .stack-02-cards-wrapper .stack-02-cards-body .stack-02-cards-content h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
  color: #414141;
  margin: 24px 0px 8px 0px;
}

.stack-02-cards .stack-02-cards-wrapper .stack-02-cards-body .stack-02-cards-content p {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: #878787;
  height: 40px;
  line-height: 2.4rem;
}

.stack-02-cards .stack-02-cards-wrapper .stack-02-cards-body .stack-02-cards-content .default-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

.stack-02-cards .stack-02-cards-wrapper .stack-02-cards-footer {
  padding-top: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  overflow: auto;
}

.stack-02-cards .stack-02-cards-wrapper .stack-02-cards-footer div:nth-child(1) {
  width: 50%;
  float: left;
}

.stack-02-cards .stack-02-cards-wrapper .stack-02-cards-footer div:nth-child(1) a {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  color: #0082d6;
  text-transform: uppercase;
  text-decoration: none;
}

.stack-02-cards .stack-02-cards-wrapper .stack-02-cards-footer div:nth-child(1) a:hover {
  color: #fff;
  text-decoration: underline;
}

.stack-02-cards .stack-02-cards-wrapper .stack-02-cards-footer div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  float: left;
}

.stack-02-cards .stack-02-cards-wrapper .stack-02-cards-footer div:nth-child(2) svg {
  width: 22px;
  height: auto;
  fill: #0082d6;
}

.stack-02-cards .stack-02-cards-wrapper:hover {
  cursor: pointer;
  background: #0082d6;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.stack-02-cards .stack-02-cards-wrapper:hover > .stack-02-cards-body > .stack-02-cards-counter {
  color: #fff;
}

.stack-02-cards .stack-02-cards-wrapper:hover > .stack-02-cards-body > .stack-02-cards-content svg {
  fill: #fff;
}

.stack-02-cards .stack-02-cards-wrapper:hover > .stack-02-cards-body > .stack-02-cards-content h2 {
  color: #fff;
}

.stack-02-cards .stack-02-cards-wrapper:hover > .stack-02-cards-body > .stack-02-cards-content p {
  color: #fff;
}

.stack-02-cards .stack-02-cards-wrapper:hover > .stack-02-cards-body ~ .stack-02-cards-footer {
  border-color: rgba(255, 255, 255, 0.08);
}

.stack-02-cards .stack-02-cards-wrapper:hover > .stack-02-cards-body ~ .stack-02-cards-footer a {
  color: #fff;
}

.stack-02-cards .stack-02-cards-wrapper:hover > .stack-02-cards-body ~ .stack-02-cards-footer svg {
  fill: #fff;
}

.stack-03 {
  width: 100%;
}

.stack-03 .stack-03-videoSlider {
  position: relative;
  width: 100%;
  height: 544px;
}

.stack-03 .stack-03-videoSlider .stack-03-videoSlider-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.stack-03 .stack-03-videoSlider .stack-03-videoSlider-container .stack-03-videoSlider-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500%;
  height: 100%;
  -webkit-transform: translateX(-1410px);
          transform: translateX(-1410px);
}

.stack-03 .stack-03-videoSlider .stack-03-videoSlider-container .stack-03-videoSlider-slider .stack-03-videoSlider-slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ccc;
}

.stack-03 .stack-03-videoSlider .stack-03-videoSlider-container .stack-03-videoSlider-slider .stack-03-videoSlider-slider-content h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  color: #ececec;
}

.stack-03 .stack-03-videoSlider .stack-03-videoSlider-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stack-03 .stack-03-videoSlider .stack-03-videoSlider-controls .stack-03-videoSlider-controls-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  width: 14.9%;
  height: 100%;
  padding-right: 40px;
  background: rgba(2, 35, 121, 0.8);
}

.stack-03 .stack-03-videoSlider .stack-03-videoSlider-controls .stack-03-videoSlider-controls-left img {
  cursor: pointer;
}

.stack-03 .stack-03-videoSlider .stack-03-videoSlider-controls .stack-03-videoSlider-controls-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 14.9%;
  height: 100%;
  padding-left: 40px;
  background: rgba(2, 35, 121, 0.8);
}

.stack-03 .stack-03-videoSlider .stack-03-videoSlider-controls .stack-03-videoSlider-controls-right img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: pointer;
}

.stack-04 {
  width: 100%;
  padding: 144px 0px 232px 0px;
}

.stack-04-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
}

.stack-04-cards .stack-04-cards-leftColumn {
  width: 51.1176%;
  background: #fff;
}

.stack-04-cards .stack-04-cards-leftColumn .stack-04-cards-leftColumn-thumb {
  width: 100%;
}

.stack-04-cards .stack-04-cards-leftColumn .stack-04-cards-leftColumn-thumb img {
  width: 100%;
  height: auto;
}

.stack-04-cards .stack-04-cards-leftColumn .stack-04-cards-leftColumn-content {
  padding: 40px;
}

.stack-04-cards .stack-04-cards-leftColumn .stack-04-cards-leftColumn-content .stack-04-cards-leftColumn-content-container {
  width: 100%;
}

.stack-04-cards .stack-04-cards-leftColumn .stack-04-cards-leftColumn-content .stack-04-cards-leftColumn-content-container h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  color: #022379;
  line-height: 3.6rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.stack-04-cards .stack-04-cards-leftColumn .stack-04-cards-leftColumn-content .stack-04-cards-leftColumn-content-container p {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #848484;
  line-height: 3.0rem;
  max-height: 56px;
  overflow: hidden;
  margin-bottom: 24px;
}

.stack-04-cards .stack-04-cards-leftColumn .stack-04-cards-leftColumn-content .stack-04-cards-leftColumn-content-container .stack-04-cards-leftColumn-content-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stack-04-cards .stack-04-cards-leftColumn .stack-04-cards-leftColumn-content .stack-04-cards-leftColumn-content-container .stack-04-cards-leftColumn-content-link a {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #0082d6;
  text-transform: uppercase;
}

.stack-04-cards .stack-04-cards-leftColumn .stack-04-cards-leftColumn-content .stack-04-cards-leftColumn-content-container .stack-04-cards-leftColumn-content-link img {
  margin-left: 8px;
}

.stack-04-cards .stack-04-cards-rightColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 47.1176%;
}

.stack-04-cards .stack-04-cards-rightColumn .stack-04-cards-rightColumn-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #fff;
}

.stack-04-cards .stack-04-cards-rightColumn .stack-04-cards-rightColumn-card .stack-04-cards-rightColumn-card-thumb {
  width: 33%;
  background: #ccc;
}

.stack-04-cards .stack-04-cards-rightColumn .stack-04-cards-rightColumn-card .stack-04-cards-rightColumn-card-content {
  width: 67%;
  padding: 18px 24px;
}

.stack-04-cards .stack-04-cards-rightColumn .stack-04-cards-rightColumn-card .stack-04-cards-rightColumn-card-content .stack-04-cards-rightColumn-card-content-container {
  width: 100%;
}

.stack-04-cards .stack-04-cards-rightColumn .stack-04-cards-rightColumn-card .stack-04-cards-rightColumn-card-content .stack-04-cards-rightColumn-card-content-container h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #022379;
  font-weight: 600;
  line-height: 2.9rem;
  max-height: 56px;
  overflow: hidden;
  margin-bottom: 5px;
}

.stack-04-cards .stack-04-cards-rightColumn .stack-04-cards-rightColumn-card .stack-04-cards-rightColumn-card-content .stack-04-cards-rightColumn-card-content-container p {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: #848484;
  line-height: 2.6rem;
  max-height: 50px;
  overflow: hidden;
  margin-bottom: 16px;
}

.stack-04-cards .stack-04-cards-rightColumn .stack-04-cards-rightColumn-card .stack-04-cards-rightColumn-card-content .stack-04-cards-rightColumn-card-content-container .stack-04-cards-rightColumn-content-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stack-04-cards .stack-04-cards-rightColumn .stack-04-cards-rightColumn-card .stack-04-cards-rightColumn-card-content .stack-04-cards-rightColumn-card-content-container .stack-04-cards-rightColumn-content-link a {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #0082d6;
  text-transform: uppercase;
}

.stack-04-cards .stack-04-cards-rightColumn .stack-04-cards-rightColumn-card .stack-04-cards-rightColumn-card-content .stack-04-cards-rightColumn-card-content-container .stack-04-cards-rightColumn-content-link img {
  margin-left: 8px;
}

#mainFooter {
  width: 100%;
  background: #e2e2e2;
}

#mainFooter .mainFooter-container {
  position: relative;
}

#mainFooter .mainFooter-container .mainFooter-subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: absolute;
  top: -88px;
  width: 100%;
  padding: 40px 24px;
  background: #022379;
}

#mainFooter .mainFooter-container .mainFooter-subscription h3 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  color: #fff;
  min-width: 357px;
  font-weight: 500;
  margin: 0px 24px 0px 16px;
}

#mainFooter .mainFooter-container .mainFooter-subscription form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-width: 624px;
}

#mainFooter .mainFooter-container .mainFooter-subscription form input {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  color: #4c4c4c;
  width: 100%;
  max-width: 416px;
  height: 56px;
  border-radius: 8px;
  border: 0;
  text-indent: 24px;
}

#mainFooter .mainFooter-container .mainFooter-subscription form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #fff;
  width: 100%;
  max-width: 192px;
  height: 56px;
  text-transform: uppercase;
  border-radius: 8px;
  border: 2px solid #fff;
  background: none;
  margin-left: 16px;
  padding: 0px 24px;
}

#mainFooter .mainFooter-container .mainFooter-subscription form button img {
  padding-right: 16px;
}

#mainFooter .mainFooter-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 88px 0px 32px 0px;
}

#mainFooter .mainFooter-nav .mainFooter-nav-col-01 {
  width: 21.15%;
}

#mainFooter .mainFooter-nav .mainFooter-nav-col-01 img {
  width: 100%;
  max-width: 201px;
  height: auto;
}

#mainFooter .mainFooter-nav .mainFooter-nav-col-02 {
  width: 27.56%;
}

#mainFooter .mainFooter-nav .mainFooter-nav-col-02 h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #4c4c4c;
  display: inline;
}

#mainFooter .mainFooter-nav .mainFooter-nav-col-02 p {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: #848484;
  display: inline-block;
  max-width: 312px;
  line-height: 2.6rem;
}

#mainFooter .mainFooter-nav .mainFooter-nav-col-03 {
  width: 26.28%;
}

#mainFooter .mainFooter-nav .mainFooter-nav-col-03 h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #4c4c4c;
  display: inline;
}

#mainFooter .mainFooter-nav .mainFooter-nav-col-03 p {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: #848484;
  display: inline-block;
  max-width: 312px;
  line-height: 2.6rem;
}

#mainFooter .mainFooter-nav .mainFooter-nav-col-04 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 25.01%;
}

#mainFooter .mainFooter-nav .mainFooter-nav-col-04 h2 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
  color: #4c4c4c;
  padding-bottom: 16px;
}

#mainFooter .mainFooter-nav .mainFooter-nav-col-04 img {
  padding-left: 16px;
}

#mainFooter .mainFooter-copyright {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: #848484;
  width: 100%;
  padding: 24px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  text-align: center;
}
/*# sourceMappingURL=app.css.map */