@mixin displayFlex ($horizontal, $vertical) {
  display: flex;
  justify-content: $horizontal;
  align-items: $vertical;
}

@mixin headingFont ($fontSize, $fontColor) {
  font-family: $documentText;
  font-weight: 700;
  font-size: $fontSize;
  color: $fontColor;
}

@mixin bodyFont ($fontSize, $fontColor) {
  font-family: $documentText;
  font-weight: 300;
  font-size: $fontSize;
  color: $fontColor;
}