@import './mixins';

.productPage--banner {
    position: relative;
    width: 100%;
    height: 488px;
    background-image: url('../img/page-banner.jpg');
    background-size: cover;
    background-position: center center;

    .productPage--heading {
        @include displayFlex(flex-start, center);
        position: relative;
        height: 100%;
        z-index: 2;

        .productPage--heading__container {
            padding-bottom: 72px;
            padding-left: 24px;

            h2 {
                @include headingFont(5.6rem, #fff);
                padding-bottom: 8px;
                margin: 0;
            }
    
            p {
                @include bodyFont(1.8rem, #fff);
                text-transform: uppercase;
                margin: 0;
            }
        }
    }

    .productPage--banner__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($secondaryColor, 0.85);
    }
}

@supports (background-blend-mode: multiply) {
    .productPage--banner__overlay {
        display: none;
    }

    .productPage--banner {
        background-color: $secondaryColor;
        background-blend-mode: multiply;
    }
}

.productPage--card__pivot {
    width: 100%;
    position: relative;

    .productPage--card__container {
        @include displayFlex(center, center);
        position: absolute;
        top: -152px;
        width: 100%;
        height: 488px;
    }
}

.productPage--card__leftColumn {
    width: 50%;
    height: 100%;
    padding: 80px;
    background: #fff;

    .productPage--card--leftColumn__container {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        .card--leftColumn--counter {
            @include headingFont(3.2rem, #dbdbdb);
            text-align: right;
        }
    
        .card--leftColumn--content {

            img {
                padding-bottom: 40px;
                margin: 0;
            }
    
            h2 {
                @include headingFont(3.5rem, #414141);
                padding-bottom: 16px;
                margin: 0;
            }
    
            p {
                @include bodyFont(2.2rem, #878787);
                margin: 0;
            }
        }
    }
}

.productPage--card__rightColumn {
    width: 50%;
    height: 100%;
    background-image: url('../img/page-banner.jpg');
    background-size: cover;
    background-position: (center, center);
}

.productPage__content {
    padding-top: 456px;
}

.productPage--content__container {

    h2 {
        @include headingFont(2.4rem, #414141);
        margin: 0;
        padding-bottom: 24px;
    }

    p {
        @include bodyFont(2.0rem, #7a7a7a);
        line-height: 3.4rem;
        margin: 0;
    }
}

.productPage--content__formLink {
    @include displayFlex(flex-end, center);
    padding-top: 64px;

    img {
        padding-right: 16px;
    }

    h2 {
        @include headingFont(2.4rem, $secondaryColor);
        font-weight: 800;
        text-transform: uppercase;
        margin: 0;
    }
}

.productPage--relatedTopics {
    padding-top: 128px;
    padding-bottom: 240px;

    .productPage--relatedTopics__cards {
        width: 100%;
    }
}

.relatedTopics--cards__container {
    padding-left: 0;
    padding-right: 0;

    .relatedTopics--cards__wrapper {
        margin: 5px;
        overflow: auto;
        background: #fff;
    
        .relatedTopics--cards__thumb {
            width: 100%;
            height: 152px;
            background: #c7c7c7;
            overflow: hidden;
            
            img {
                width: 100%;
                height: auto;
            }
        }
        
        .relatedTopics--cards__content {
            padding: 32px;
            background: #fff;
        
            .relatedTopics--cards--content_container {
        
                h2 {
                    @include headingFont(2.0rem, $secondaryColor);
                    line-height: 3.0rem;
                    padding-bottom: 8px;
                    margin: 0;
                }
        
                p {
                    @include bodyFont(1.8rem, #848484);
                    line-height: 2.6rem;
                    margin: 0;
                }
            }
        }
    }
}



